.DS_Store

unity3_preps.py
prepare_platforms
for_deploy_pack

soomla-native/projects/unity-android-store/.idea/artifacts
soomla-native/projects/unity-android-store/.idea/workspace.xml
soomla-native/projects/unity-android-store/local.properties
soomla-native/projects/unity-android-store/out

soomla-native/projects/unity-ios-store/build

create_unity3.5.log
create_unity4.0.log
create_deploys
