.DS_Store

unity3_preps.py
prepare_platforms
for_deploy_pack
soomla-native/projects/android-store/out
soomla-native/projects/android-store/gen
soomla-native/projects/android-store/bin
soomla-native/projects/android-store/build_all
soomla-native/projects/android-store/local.properties
soomla-native/projects/android-store/module_soomla.xml
soomla-native/projects/android-store/soomla.properties
soomla-native/projects/android-store/soomla.xml
soomla-native/projects/ios-store/SoomlaIOSStore.xcodeproj/xcuserdata
soomla-native/projects/ios-store/SoomlaIOSStore.xcodeproj/project.xcworkspace/xcuserdata/refaelos.xcuserdatad/UserInterfaceState.xcuserstate

