[submodule "submodules/ios-store"]
	path = submodules/ios-store
	url = https://github.com/soomla/ios-store.git
[submodule "submodules/android-store"]
	path = submodules/android-store
	url = https://github.com/soomla/android-store.git
