.DS_Store

unity3_preps.py
prepare_platforms
for_packaging
SoomlaIOSStore
android-bridges/*
!android-bridges/*/
android-bridges/.idea
android-bridges/out
android-bridges/gen
android-bridges/bin
android-bridges/res
android-bridges/libs
android-bridges/config
android-bridges/META-INF/
android-bridges/src/com/soomla/store
android-bridges/src/com/soomla/billing
android-bridges/src/com/android

