[submodule "submodules/ios-store"]
	path = submodules/ios-store
	url = git@github.com:soomla/ios-store.git
[submodule "submodules/android-store"]
	path = submodules/android-store
	url = git@github.com:soomla/android-store.git
[submodule "submodules/soomla-unity3d-core"]
	path = submodules/soomla-unity3d-core
	url = git@github.com:soomla/soomla-unity3d-core.git
[submodule "submodules/soomla-ios-core"]
	path = submodules/soomla-ios-core
	url = git@github.com:soomla/soomla-ios-core.git
[submodule "submodules/wp-store"]
	path = submodules/wp-store
	url = git@github.com:soomla/wp-store.git
